html {
  font-size: 0.9375em;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #e3ffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0277bd;
  margin: 0.2em;
}

.gris {
  color: #eeeeee;
}

.azul {
  color: #0277bd;
}

.btn {
  background: #0277bd;
}

.row {
  margin-bottom: 15px;
}

/* label color */
.input-field label {
  color: #0277bd;
}
/* label focus color */
.input-field input[type="text"]:focus + label {
  color: #0277bd !important;
}
/* label underline focus color */
.input-field > input[type="text"]:focus {
  border-bottom: 1px solid #0277bd !important;
  box-shadow: 0 1px 0 0 #0277bd !important;
}

nav .breadcrumb {
  color: #f8f8f8;
}

/* CSS navbar */
.nav-wrapper {
  background: #0277bd;
}
.nav-wrapper li:hover {
  background: #0277bd;
}

.logo {
  width: 3em;
  height: 2em;
  margin-left: 1em;
}
/* Fin CSS navbar */

/* CSS página favores */

.imagen1 {
  width: 28em;
  height: 25em;
  border: 2px solid #0277bd;
  border-radius: 1em;
  margin-right: 0.925em;
}

.cont-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 0.8em;
}

.padding {
  padding: 0.625em;
}

/* Media queries página de favores */
@media screen and (max-width: 1294px) {
  .imagen1 {
    width: 26em;
    height: 24em;
  }
}

@media screen and (max-width: 1144px) {
  .imagen1 {
    width: 24em;
    height: 22em;
  }
}

@media screen and (max-width: 1076px) {
  .imagen1 {
    width: 22.5em;
    height: 20.5em;
  }
}

@media screen and (max-width: 818px) {
  .imagen1 {
    width: 20em;
    height: 18em;
  }
}

@media screen and (max-width: 718px){
    .imagen1 {
      width: 18.5em;
      height: 17.5em;
    }
}

@media screen and (max-width: 666px){
  .imagen1 {
    width: 17.5em;
    height: 16em;
  }
}

@media screen and (max-width: 626px){
  .imagen1 {
    width: 16.5em;
    height: 15em;
  }
}
/* Fin CSS página favores */

/* CSS página iniciar sesión */

.h1 {
  font-size: 3.5em;
}

@media screen and (max-width: 258px) {
  .h1 {
    font-size: 1.9em;
  }
}

@media screen and (min-width: 260px) and (max-width: 365px) {
  .h1 {
    font-size: 2.2em;
  }
}

.logbutton {
  background: #0277bd;
  color: white;
  border: 2px solid grey;
  border-radius: 15px;
  cursor: pointer;
  width: 250px;
  height: 50px;
  font-size: 18px;
  margin-bottom: 10px;
}

/* Fin CSS página iniciar sesión */

/* CSS página de quienes somos */
.header-wrapper {
  display: flex;
  justify-content: center;
  padding: 0.25em;
}

.texto {
  text-align: justify;
  text-justify: inter-word;
  padding: 0.625em;
}

.images-wrapper {
  margin-top: 0.625em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.images-wrapper img {
  height: 20em;
  width: 20em;
  border-radius: 50%;
  border: 2px solid black;
}

.separation {
  margin-top: 1em;
}

.col-centrada {
  display: flex;
  margin-bottom: 0.5em;
  justify-content: center;
}

.card {
  width: 60%;
}

.card-image > img {
  width: 30rem;
  height: 22em;
}


@media screen and (max-width: 950px) {
  .images-wrapper img {
    height: 16em;
    width: 16em;
  }
}

@media screen and (max-width: 780px) {
  .images-wrapper img {
    height: 13em;
    width: 13em;
  }
}

@media screen and (max-width: 634px) {
  .images-wrapper img {
    height: 12.5em;
    width: 12.5em;
  }
}
/* Fin CSS página de quienes somos */

/* CSS del footer */
.highlight > a {
  color: #0277bd;
}

.highlight > a:hover {
  text-decoration: underline;
}

.page-footer {
  background: #e3e3e3;
  color: #0277bd;
}

.copy {
  margin: 0.3em;
  color: #0277bd;
}
/* CSS del footer */

/* CSS página del formulario */
.container-form {
  margin-top: 1em;
  margin-bottom: 1.2em;
  border: 3px solid silver;
  border-radius: 1em;
  padding: 0.625em;
  box-shadow: 0 0 1.5em lightgray;
}

.center {
  display: flex;
  justify-content: center;
}

.btn-center {
  display: flex;
  justify-content: center;
}

.btn-center button {
  margin-right: 0.5em;
}

input[type="range"]::-moz-range-track {
  background-color:#0277bd;
}

.div-imagen-central {
  display: flex;
  justify-content: center;
}

.icon-block {
  background-color: #0277bd;
  border-radius: 1em;
  border: 2px solid grey;
  padding: 0.3125em;
  margin-bottom: 0.625em;
}

.icon-block p {
  text-align: justify;
}
.imagen-central {
  border-radius: 1em;
  border: 2px solid #0277bd;
  width: 600px;
  height: 400px;
  margin-bottom: 100px;
}

.div-imagen-central > img {
  margin-bottom: 1em;
}

/* CSS index  media queries */

@media screen and (max-width: 650px) {
  .div-imagen-central > img {
    width: 31.25em;
    height: 25em;
  }
}

@media screen and (max-width: 500px) {
  .div-imagen-central > img {
    width: 25em;
    height: 22em;
  }
}

@media screen and (max-width: 400px) {
  .div-imagen-central > img {
    width: 18.75em;
    height: 15.625em;
  }
}

@media screen and (max-width: 300px) {
  .div-imagen-central > img {
    width: 16em;
    height: 13em;
  }
}

@media screen and (max-width: 250px) {
  .div-imagen-central > img {
    width: 12em;
    height: 9em;
  }
}
/* Fin CSS index media queries */
