body {
  background-color: #b3ffff;
}

/* CSS navbar */
.nav-wrapper {
  background: cornflowerblue;
}
.nav-wrapper li:hover {
  background: #6666ff;
}

.nav-wrapper a:hover {
  background: #6666ff;
}

.logo {
  width: 3em;
  height: 2em;
  margin-left: 1em;
}
/* Fin CSS navbar */

/* CSS página de quienes somos */
.h1-wrapper {
  display: flex;
  justify-content: center;
}

.texto {
  text-align: justify;
  text-justify: inter-word;
}

.images-wrapper {
  display: flex;

}

.images-wrapper img {
  border-radius: 50%;
  border: 1px solid black;
}
/* Fin CSS página de quienes somos */

.page-footer {
  background-color: rgb(134, 221, 167);
}
