body {
  width: 770px;
  font-family: Arial;
}

p {
  margin-top: 0.5em;
}

/** CSS del navbar */
#navigation {
  margin: auto;
}

.nav ul {
  display: flex;
  list-style-type: none;
  background-color: lightgray;
}

.nav li a {
  font-size: 1.5em;
  display: block;
  color: black;
  text-align: center;
  padding: 0.3em;
  margin-bottom: 0.7em;
}

.nav li a:hover {
  background-color: grey;
}

/** Fin CSS del navbar */

/** CSS de la imagen de la cabecera */
#img-cabecera {
  height: 100px;
}

#img-cabecera > img {
  width: 770px;
  height: 100px;
}
/* Fin css imagen de la cabecera */

p {
  margin-top: 0.5em;
}

/* CSS para los links */

a {
  color: lightskyblue;
  text-decoration: none;
}
a:hover {
  color: red;
}
a:visited {
  color: blue;
}
a:visited:hover {
  color: red;
}

/** CSS partes de la página */
#container {
  display: flex;
  font-family: Arial;
  color: black;
}

#left-side,
#center-side,
#right-side {
  border: 2px solid black;
  height: 500px;
  margin: auto;
  margin-top: 15px;
}

#left-side {
  width: 200px;
}

#left-side li {
    margin-bottom: 0.7em;
    padding: 0.3em;
  }

#center-side {
  width: 330px;
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

#center-side a {
  color: green;
}

#center-side a:hover {
  color: red;
}

#right-side {
  width: 200px;
}

#right-side  td {
    font-size: 1.5em;
    margin-bottom: 0.7em;
    padding: 0.3em;
    text-align: center
}
/** Fin CSS partes de la página */


/** CSS footer */
#pie-pagina {
  border: 2px solid black;
  margin-top: 15px;
  text-align: center;
  font-style: italic;
}
/* Fin CSS footer */