/* CSS del cuerpo **/

body {
    font-family: Arial;
    color: black;
    font-size: 1.5em;
    width: 770px;
}


/* Fin CSS del cuerpo */


/*CSS del navbar*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(179, 168, 168);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #a5a5a5;
}


/* Fin css del navbar */


/* CSS de los links */

a {
    color: #809fff;
}

a:hover {
    color: red;
}

a:visited {
    color: #1a53ff;
}

a:visited:hover {
    color: red;
}


/* Fin CSS de los links */


/* CSS de los párrafos */

p {
    margin-top: 0.5em;
}


/* Fin CSS de los párrafos */


/** CSS posicionamiento zonas de contenido */

#cabecera {
    position: absolute;
    right: 0px;
    width: 920px;
    height: 100px;
}

#parte-izquierda {
    float: left;
    position: relative;
    width: 50%;
    background-color: crimson;
}

#parte-derecha-left {
    float: left;
    left: 40px;
    top: 80px;
    height: 600px;
    text-align: center;
    position: relative;
    width: 385px;
    background-color: saddlebrown;
}

#parte-derecha-right {
    float: right;
    top: 90px;
    right: 25px;
    text-align: center;
    position: absolute;
    width: 430px;
    background-color: green;
}